In [4]:
import pandas as pd

In [5]:
path = "./exercise_data/chipotle.tsv"

In [6]:
chipo = pd.read_csv(path, sep='\t')

In [7]:
# 查看前10行内容
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [8]:
# 数据集中有多少个列(columns)
chipo.shape[1]

5

In [9]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

In [10]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39

In [11]:
# 查询商品种类的数量
print('Total items: ', len(chipo.item_name.unique()))
print('Total items: ', chipo.item_name.value_counts().count())
print('Total items: ', len(chipo.groupby(['item_name']).groups))

Total items:  50
Total items:  50
Total items:  50

In [16]:
# 获取销量最多的商品名
chipo.item_name.value_counts().head().index

Index(['Chicken Bowl', 'Chicken Burrito', 'Chips and Guacamole',
       'Steak Burrito', 'Canned Soft Drink'],
      dtype='object')

In [17]:
# 获取销量最多的商品销售量
chipo.item_name.value_counts().head()

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

In [27]:
# 查询最受欢迎的食物及其销量 , 销售额
## 查询最受欢迎的食物
favorite_items = chipo.groupby(['item_name']).sum().sort_values('quantity',ascending=False)
## 删除order_id 列
favorite_items = favorite_items.drop('order_id', axis=1)
favorite_items.head()

                     quantity  item_price
item_name
Chicken Bowl              761     7342.73
Chicken Burrito           591     5575.82
Chips and Guacamole       506     2201.04
Steak Burrito             386     3851.43
Canned Soft Drink         351      438.75

In [32]:
# 查询最受欢迎食物（下单数， 销量， 销售额）
favorite_items = chipo.groupby(['item_name']).agg({'order_id': 'count', 'quantity':'sum','item_price':'sum'}).sort_values('quantity',ascending=False)
favorite_items.head()

                     order_id  quantity  item_price
item_name
Chicken Bowl              726       761     7342.73
Chicken Burrito           553       591     5575.82
Chips and Guacamole       479       506     2201.04
Steak Burrito             368       386     3851.43
Canned Soft Drink         301       351      438.75

In [33]:
# 查询订单的商品总数量
chipo.quantity.sum()

4972

In [34]:
# 统计总收入
chipo.item_price.sum()

34500.16

In [44]:
# 统计订单总数
chipo.order_id.value_counts().count()

1834

In [51]:
# 订单平均消费
#chipo.item_price.sum() / chipo.order_id.value_counts().count()
# 或者 chipo.groupby(['order_id']).sum()['item_price'].mean()

18.811428571428568

In [52]:
# 按照商品名称过滤查询数据
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] > 1)].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
282,124,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",17.50
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
415,181,2,Chicken Bowl,[Tomatillo Red Chili Salsa],17.50

In [59]:
# 查询消费金额最大的订单信息(3个)
max_order = chipo.groupby(['order_id']).sum().sort_values('item_price',ascending=False)
max_order.head(3)

          quantity  item_price
order_id
926             23      205.25
1443            35      160.74
1483            14      139.00

In [57]:
arr_order_id = max_order.head(3).index.values
arr_order_id

array([ 926, 1443, 1483], dtype=int64)

In [60]:
chipo[chipo['order_id'].isin(arr_order_idorder_id)]

,order_id,quantity,item_name,choice_description,item_price
2304,926,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",9.25
2305,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2306,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2308,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",9.25
2309,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
2310,926,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",9.25
2311,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
2312,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",8.75
2313,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",8.75
2315,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25
2316,926,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
2317,926,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.25
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2319,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",9.25
2320,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",8.75
2321,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",8.75
2322,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",8.75
2323,926,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25
2324,926,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",8.75
2325,926,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",9.25
2326,926,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3599,1443,7,Bottled Water,NaN,10.50
3600,1443,1,6 Pack Soft Drink,[Coke],6.49
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
3604,1443,2,Bottled Water,NaN,3.00
3700,1483,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
3701,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
3702,1483,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
3703,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.25
3704,1483,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.75
3705,1483,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25
3706,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",8.75
3707,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",9.25
3708,1483,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",8.75
3709,1483,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
3710,1483,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Guacamole]",11.75
3711,1483,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
3712,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",8.75
3713,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.75